@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background-color: #000;
  border: none;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
  font: 400 18px Roboto, sans-serif;
  margin-right: 5px;
}

.App {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
